.tile {
  width: 32px;
  height: 32px;
}

.tile--sprite {
  background-image: url("./assets/summer.png");
}

button.tile {
  appearance: none;
  border: 0;
  background: green;
}

.plants {
  display: flex;
  flex-wrap: wrap;
}

.plot__row {
  display: flex;
}

.plant-button {
  position: relative;
}

.plant-button__name {
  position: absolute;
  display: none;
}

.plant-button:hover .plant-button__name,
.plant-button:focus .plant-button__name {
  display: block;
}
